body {
    text-align: center;
    background-color: black;
    color: white;
}


h1 {
    color: white;
}

fieldset {
    background-color: white;
    color: black;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}