body{
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: black;
}

button{
    background-color: green;
    color: white;
}

button:hover{
    background-color: black;
}

input[type="email"]:invalid{
    border: 2px solid red;
}


.forms-nom{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-sobr{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-pass{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-email{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-matri{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-user{
    padding: 10px 20px;
    border-radius: 3px;
}

.forms-passw{
    padding: 10px 20px;
    border-radius: 3px;
}

